.blog {
  margin-bottom: 180px;

  .about-blog-posts {
    margin-top: 5%;

    .blog-title {
      font-family: mySecondFont, myThirdFont;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 2px;
    }

    .border-bottom-two {
      width: 255px;
      height: 2px;
      background-color: #000;
      margin-bottom: 3%;
    }

    .blog-box {
      max-width: 722px;
      display: flex;
      position: relative;
      margin-bottom: 30px;
      display: flex;
      position: relative;

      .post-date {
        width: 60px;
        height: 60px;
        font-size: 22;
        text-align: center;
        background-color: $site-blue;
        color: $site-white;
        position: absolute;

        .post-day {
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 0px;
        }
      }
      .post-content {
        max-width: $content-width;
        margin-left: 12%;

        .blog-image {
          width: 900px;
          height: 259px;
          overflow: hidden;
          margin-bottom: 3%;

          img {
            width: 100%;
          }
        }
        .post-info {
          max-width: 440px;
          margin-bottom: 20px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-size: 16px;
          font-style: italic;
          .blog-black-text {
            color: $site-black;
          }
          .blog-blue-text {
            color: $site-blue;
          }
        }
      }
    }
  }
}

// media query that breaks at
@media all and (max-width: 800px) {
  .blog {
    text-align: center;
    flex-direction: column;

    .about-blog-posts {
      .border-bottom-two {
        margin: 0 auto;
        margin-bottom: 3%;
      }
      .blog-box {
        flex-direction: column;

        .post-date {
        }

        .post-content {
          margin-left: 0;
          .blog-image {
            margin: 0 auto;
            width: 425px;
          }
          .post-info {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
